#winPage{
    position: absolute;
    background-image: url('../image/pantallas/gameover.png');
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: 5;
}

#losePage{
    position: absolute;
    background-image: url('../image/pantallas/gameover.png');
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: 5;
}
